# Is there a "must win" circuit in the championship? Either a particular Grand Prix or the N-th circuit of the championship

In order to answer this question, we need to lookup at the winner of the last 12 championships and if there is a match between the champion and a circuit

In [1]:
# The code was removed by Watson Studio for sharing.

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [4]:
df_data = df_data_1.drop(['lat', 'lng', 'url'], axis=1)

In [6]:
df_circuits = df_data

In [7]:

body = client_ff2293c1f18a456e81c3942306f3ba02.get_object(Bucket='f1project-donotdelete-pr-k1g9ydjrtxlhpr',Key='driver_standings.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [8]:

body = client_ff2293c1f18a456e81c3942306f3ba02.get_object(Bucket='f1project-donotdelete-pr-k1g9ydjrtxlhpr',Key='drivers.csv')['Body']
df_data_3 = pd.read_csv(body)
df_data_3.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [13]:
df_drivers = df_data_3.drop(['dob','nationality','url','number','code'], axis=1)
df_drivers.head()

   driverId   driverRef  forename     surname
0         1    hamilton     Lewis    Hamilton
1         2    heidfeld      Nick    Heidfeld
2         3     rosberg      Nico     Rosberg
3         4      alonso  Fernando      Alonso
4         5  kovalainen    Heikki  Kovalainen

In [11]:
body = client_ff2293c1f18a456e81c3942306f3ba02.get_object(Bucket='f1project-donotdelete-pr-k1g9ydjrtxlhpr',Key='races.csv')['Body']
df_races = pd.read_csv(body)
df_races.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [14]:
df_races = df_races.drop(['date','time','url'], axis=1)

In [15]:
df_races.head()

   raceId  year  round  circuitId                   name
0       1  2009      1          1  Australian Grand Prix
1       2  2009      2          2   Malaysian Grand Prix
2       3  2009      3         17     Chinese Grand Prix
3       4  2009      4          3     Bahrain Grand Prix
4       5  2009      5          4     Spanish Grand Prix

In [20]:
driv_stand= df_data_2

In [21]:
driv_stand.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [22]:
df_data.head()

,circuitId,circuitRef,name,location,country,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,10
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,18
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,7
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,109
4,5,istanbul,Istanbul Park,Istanbul,Turkey,130

In [39]:
df_sub_data1 = driv_stand.merge(df_races, on='raceId', how='inner')
df_sub_data1.head()

,driverStandingsId,raceId,driverId,points,position,positionText,wins,year,round,circuitId,name
0,1,18,1,10.0,1,1,1,2008,1,1,Australian Grand Prix
1,2,18,2,8.0,2,2,0,2008,1,1,Australian Grand Prix
2,3,18,3,6.0,3,3,0,2008,1,1,Australian Grand Prix
3,4,18,4,5.0,4,4,0,2008,1,1,Australian Grand Prix
4,5,18,5,4.0,5,5,0,2008,1,1,Australian Grand Prix

In [41]:
df_sub_data2 = df_sub_data1.merge(df_drivers, on='driverId', how='inner')
df_sub_data2.head()

,driverStandingsId,raceId,driverId,points,position,positionText,wins,year,round,circuitId,name,driverRef,forename,surname
0,1,18,1,10.0,1,1,1,2008,1,1,Australian Grand Prix,hamilton,Lewis,Hamilton
1,9,19,1,14.0,1,1,1,2008,2,2,Malaysian Grand Prix,hamilton,Lewis,Hamilton
2,27,20,1,14.0,3,3,1,2008,3,3,Bahrain Grand Prix,hamilton,Lewis,Hamilton
3,48,21,1,20.0,2,2,1,2008,4,4,Spanish Grand Prix,hamilton,Lewis,Hamilton
4,69,22,1,28.0,3,3,1,2008,5,5,Turkish Grand Prix,hamilton,Lewis,Hamilton

In [54]:
df_sub_data2.to_csv (r'C:\Users\sdelima\Desktop\export_dataframe.csv', index = False, header=True)

In [56]:
save_data(df_data, df_sub_data2, set_project_asset=True, overwrite=False)

NameError: name 'save_data' is not defined