In [ ]:
# The code was removed by Watson Studio for sharing.

# Is there a "must win" circuit in the championship? Either a particular Grand Prix or the N-th circuit of the championship

In order to answer this question, we need to lookup at the winner of the last 12 championships and if there is a match between the champion and a circuit

In [1]:
# The code was removed by Watson Studio for sharing.

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [2]:
circuits = circuits.drop(['lat', 'lng', 'url'], axis=1)

In [3]:

body = client_ff2293c1f18a456e81c3942306f3ba02.get_object(Bucket='f1project-donotdelete-pr-k1g9ydjrtxlhpr',Key='results.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

results = pd.read_csv(body)
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [4]:
results = results.drop(['constructorId', 'number', 'laps', 'time', 'milliseconds', 'fastestLap', 'rank', 'fastestLapTime','fastestLapSpeed' ], axis=1)

In [5]:
results.head()

,resultId,raceId,driverId,grid,position,positionText,positionOrder,points,statusId
0,1,18,1,1,1,1,1,10.0,1
1,2,18,2,5,2,2,2,8.0,1
2,3,18,3,7,3,3,3,6.0,1
3,4,18,4,11,4,4,4,5.0,1
4,5,18,5,3,5,5,5,4.0,1

In [6]:

body = client_ff2293c1f18a456e81c3942306f3ba02.get_object(Bucket='f1project-donotdelete-pr-k1g9ydjrtxlhpr',Key='drivers.csv')['Body']
drivers = pd.read_csv(body)
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [7]:
drivers = drivers.drop(['dob','nationality','url','number','code'], axis=1)
drivers.head()

   driverId   driverRef  forename     surname
0         1    hamilton     Lewis    Hamilton
1         2    heidfeld      Nick    Heidfeld
2         3     rosberg      Nico     Rosberg
3         4      alonso  Fernando      Alonso
4         5  kovalainen    Heikki  Kovalainen

In [8]:
body = client_ff2293c1f18a456e81c3942306f3ba02.get_object(Bucket='f1project-donotdelete-pr-k1g9ydjrtxlhpr',Key='races.csv')['Body']
races = pd.read_csv(body)
races.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [9]:
races = races.drop(['date','time','url'], axis=1)

In [10]:
races.head()

   raceId  year  round  circuitId                   name
0       1  2009      1          1  Australian Grand Prix
1       2  2009      2          2   Malaysian Grand Prix
2       3  2009      3         17     Chinese Grand Prix
3       4  2009      4          3     Bahrain Grand Prix
4       5  2009      5          4     Spanish Grand Prix

After importing the different tables and droping the columns I do not need, let's merge the tables so we can have all the information in an unique dataframe

In [11]:
df_sub_data1 = results.merge(races, on='raceId', how='inner')
df_sub_data1.head()

,resultId,raceId,driverId,grid,position,positionText,positionOrder,points,statusId,year,round,circuitId,name
0,1,18,1,1,1,1,1,10.0,1,2008,1,1,Australian Grand Prix
1,2,18,2,5,2,2,2,8.0,1,2008,1,1,Australian Grand Prix
2,3,18,3,7,3,3,3,6.0,1,2008,1,1,Australian Grand Prix
3,4,18,4,11,4,4,4,5.0,1,2008,1,1,Australian Grand Prix
4,5,18,5,3,5,5,5,4.0,1,2008,1,1,Australian Grand Prix

In [12]:
df_sub_data2 = df_sub_data1.merge(drivers, on='driverId', how='inner')
df_sub_data2.head()

,resultId,raceId,driverId,grid,position,positionText,positionOrder,points,statusId,year,round,circuitId,name,driverRef,forename,surname
0,1,18,1,1,1,1,1,10.0,1,2008,1,1,Australian Grand Prix,hamilton,Lewis,Hamilton
1,27,19,1,9,5,5,5,4.0,1,2008,2,2,Malaysian Grand Prix,hamilton,Lewis,Hamilton
2,57,20,1,3,13,13,13,0.0,11,2008,3,3,Bahrain Grand Prix,hamilton,Lewis,Hamilton
3,69,21,1,5,3,3,3,6.0,1,2008,4,4,Spanish Grand Prix,hamilton,Lewis,Hamilton
4,90,22,1,3,2,2,2,8.0,1,2008,5,5,Turkish Grand Prix,hamilton,Lewis,Hamilton

In [13]:
df_data = df_sub_data2.drop(['raceId', 'driverId', 'circuitId'], axis=1)
df_data.head()

,resultId,grid,position,positionText,positionOrder,points,statusId,year,round,name,driverRef,forename,surname
0,1,1,1,1,1,10.0,1,2008,1,Australian Grand Prix,hamilton,Lewis,Hamilton
1,27,9,5,5,5,4.0,1,2008,2,Malaysian Grand Prix,hamilton,Lewis,Hamilton
2,57,3,13,13,13,0.0,11,2008,3,Bahrain Grand Prix,hamilton,Lewis,Hamilton
3,69,5,3,3,3,6.0,1,2008,4,Spanish Grand Prix,hamilton,Lewis,Hamilton
4,90,3,2,2,2,8.0,1,2008,5,Turkish Grand Prix,hamilton,Lewis,Hamilton

In [14]:
df_data.set_index('resultId')

,grid,position,positionText,positionOrder,points,statusId,year,round,name,driverRef,forename,surname
resultId,,,,,,,,,,,,
1,1,1,1,1,10.0,1,2008,1,Australian Grand Prix,hamilton,Lewis,Hamilton
27,9,5,5,5,4.0,1,2008,2,Malaysian Grand Prix,hamilton,Lewis,Hamilton
57,3,13,13,13,0.0,11,2008,3,Bahrain Grand Prix,hamilton,Lewis,Hamilton
69,5,3,3,3,6.0,1,2008,4,Spanish Grand Prix,hamilton,Lewis,Hamilton
90,3,2,2,2,8.0,1,2008,5,Turkish Grand Prix,hamilton,Lewis,Hamilton
...,...,...,...,...,...,...,...,...,...,...,...,...
25302,17,17,17,17,0.0,12,2021,17,United States Grand Prix,mazepin,Nikita,Mazepin
25323,15,18,18,18,0.0,13,2021,18,Mexico City Grand Prix,mazepin,Nikita,Mazepin
25342,19,17,17,17,0.0,12,2021,19,São Paulo Grand Prix,mazepin,Nikita,Mazepin
25363,20,18,18,18,0.0,12,2021,20,Qatar Grand Prix,mazepin,Nikita,Mazepin
25383,20,\N,R,18,0.0,4,2021,21,Saudi Arabian Grand Prix,mazepin,Nikita,Mazepin

In [15]:
df_data = df_data[df_data.year >= 2010]

## ANALYSIS (RESUME FROM HERE)

In [31]:
df_data_raking = df_data.sort_values(by=['points'], ascending = False)

In [46]:
df_data_raking[df_data_raking.year == 2021]

,driverStandingsId,points,position,positionText,wins,year,round,name,driverRef,forename,surname
11720,70741,395.5,1,1,10,2021,22,Abu Dhabi Grand Prix,max_verstappen,Max,Verstappen
287,70740,387.5,2,2,8,2021,22,Abu Dhabi Grand Prix,hamilton,Lewis,Hamilton
11719,70720,369.5,1,1,9,2021,21,Saudi Arabian Grand Prix,max_verstappen,Max,Verstappen
286,70719,369.5,2,2,8,2021,21,Saudi Arabian Grand Prix,hamilton,Lewis,Hamilton
11699,70699,351.5,1,1,9,2021,20,Qatar Grand Prix,max_verstappen,Max,Verstappen
...,...,...,...,...,...,...,...,...,...,...,...
12447,70243,0.0,13,13,0,2021,1,Bahrain Grand Prix,ocon,Esteban,Ocon
12724,70342,0.0,15,15,0,2021,4,Spanish Grand Prix,giovinazzi,Antonio,Giovinazzi
12723,70322,0.0,15,15,0,2021,3,Portuguese Grand Prix,giovinazzi,Antonio,Giovinazzi
12722,70302,0.0,15,15,0,2021,2,Emilia Romagna Grand Prix,giovinazzi,Antonio,Giovinazzi
12721,70242,0.0,12,12,0,2021,1,Bahrain Grand Prix,giovinazzi,Antonio,Giovinazzi

In [53]:
df_data.name.value_counts()

Abu Dhabi Grand Prix           281
Italian Grand Prix             273
Belgian Grand Prix             271
Hungarian Grand Prix           267
British Grand Prix             266
Spanish Grand Prix             262
Bahrain Grand Prix             258
Monaco Grand Prix              242
Brazilian Grand Prix           237
Japanese Grand Prix            235
Singapore Grand Prix           234
Canadian Grand Prix            223
Chinese Grand Prix             220
Australian Grand Prix          212
United States Grand Prix       203
Malaysian Grand Prix           185
German Grand Prix              183
Russian Grand Prix             171
Austrian Grand Prix            168
Mexican Grand Prix             111
Korean Grand Prix              102
European Grand Prix             96
Turkish Grand Prix              90
Azerbaijan Grand Prix           82
Indian Grand Prix               75
French Grand Prix               60
Emilia Romagna Grand Prix       41
Portuguese Grand Prix           41
Styrian Grand Prix              40
Sakhir Grand Prix               23
Qatar Grand Prix                21
Tuscan Grand Prix               21
Eifel Grand Prix                21
Mexico City Grand Prix          21
São Paulo Grand Prix            21
Dutch Grand Prix                21
Saudi Arabian Grand Prix        21
70th Anniversary Grand Prix     21
Name: name, dtype: int64

In [54]:
df_data[df_data.name == 'Eifel Grand Prix']

,driverStandingsId,points,position,positionText,wins,year,round,name,driverRef,forename,surname
259,70039,230.0,1,1,7,2020,11,Eifel Grand Prix,hamilton,Lewis,Hamilton
1532,70049,2.0,17,17,0,2020,11,Eifel Grand Prix,raikkonen,Kimi,Räikkönen
4142,70045,17.0,13,13,0,2020,11,Eifel Grand Prix,vettel,Sebastian,Vettel
11692,70055,147.0,3,3,1,2020,11,Eifel Grand Prix,max_verstappen,Max,Verstappen
11872,70036,161.0,2,2,2,2020,11,Eifel Grand Prix,bottas,Valtteri,Bottas
12090,70041,68.0,5,5,0,2020,11,Eifel Grand Prix,perez,Sergio,Pérez
12232,70040,51.0,11,11,0,2020,11,Eifel Grand Prix,sainz,Carlos,Sainz
12372,70047,14.0,14,14,0,2020,11,Eifel Grand Prix,kvyat,Daniil,Kvyat
12439,70043,36.0,12,12,0,2020,11,Eifel Grand Prix,ocon,Esteban,Ocon
12655,70056,10.0,15,15,0,2020,11,Eifel Grand Prix,hulkenberg,Nico,Hülkenberg
12713,70044,3.0,16,16,0,2020,11,Eifel Grand Prix,giovinazzi,Antonio,Giovinazzi
12934,70052,1.0,19,19,0,2020,11,Eifel Grand Prix,kevin_magnussen,Kevin,Magnussen
13013,70053,57.0,9,9,0,2020,11,Eifel Grand Prix,stroll,Lance,Stroll
13224,70054,78.0,4,4,0,2020,11,Eifel Grand Prix,ricciardo,Daniel,Ricciardo
13572,70051,2.0,18,18,0,2020,11,Eifel Grand Prix,grosjean,Romain,Grosjean
32961,70042,53.0,10,10,1,2020,11,Eifel Grand Prix,gasly,Pierre,Gasly
33068,70037,63.0,8,8,0,2020,11,Eifel Grand Prix,leclerc,Charles,Leclerc
33150,70050,0.0,21,21,0,2020,11,Eifel Grand Prix,russell,George,Russell
33211,70048,64.0,7,7,0,2020,11,Eifel Grand Prix,albon,Alexander,Albon
33250,70038,65.0,6,6,0,2020,11,Eifel Grand Prix,norris,Lando,Norris
33290,70046,0.0,20,20,0,2020,11,Eifel Grand Prix,latifi,Nicholas,Latifi

In [85]:
df_sub_data2[(df_sub_data2.position == 1) & (df_sub_data2.raceId == 345)]

,driverStandingsId,raceId,driverId,points,position,positionText,wins,year,round,circuitId,name,driverRef,forename,surname
60,63955,345,1,127.0,1,1,2,2010,9,12,European Grand Prix,hamilton,Lewis,Hamilton

In [86]:
df_races[df_races.raceId == 345]

     raceId  year  round  circuitId                 name
344     345  2010      9         12  European Grand Prix

In [91]:
driv_stand

,driverStandingsId,raceId,driverId,points,position,positionText,wins
0,1,18,1,10.0,1,1,1
1,2,18,2,8.0,2,2,0
2,3,18,3,6.0,3,3,0
3,4,18,4,5.0,4,4,0
4,5,18,5,4.0,5,5,0
...,...,...,...,...,...,...,...
33389,70776,1074,840,0.0,16,-,0
33390,70777,1074,852,0.0,17,-,0
33391,70778,1074,830,0.0,18,-,0
33392,70779,1074,20,0.0,19,-,0
33393,70780,1074,855,0.0,20,-,0

In [90]:
driv_stand[driv_stand.raceId == 345]

,driverStandingsId,raceId,driverId,points,position,positionText,wins
28130,63953,345,4,98.0,5,5,1
28131,63954,345,13,67.0,8,8,0
28132,63955,345,1,127.0,1,1,2
28133,63956,345,20,115.0,3,3,2
28134,63957,345,3,75.0,7,7,0
28135,63958,345,30,34.0,9,9,0
28136,63959,345,18,121.0,2,2,2
28137,63960,345,17,103.0,4,4,2
28138,63961,345,24,12.0,12,12,0
28139,63962,345,22,19.0,11,11,0
28140,63963,345,9,83.0,6,6,0
28141,63964,345,16,31.0,10,10,0
28142,63965,345,153,3.0,16,16,0
28143,63966,345,807,1.0,17,17,0
28144,63967,345,5,0.0,19,19,0
28145,63968,345,67,7.0,14,14,0
28146,63969,345,15,0.0,22,22,0
28147,63970,345,37,0.0,18,18,0
28148,63971,345,811,0.0,23,23,0
28149,63972,345,10,0.0,24,24,0
28150,63973,345,808,6.0,15,15,0
28151,63974,345,155,7.0,13,13,0
28152,63975,345,810,0.0,21,21,0
28153,63976,345,812,0.0,20,20,0

In [94]:
df_drivers[df_drivers.driverId == 20]

    driverId driverRef   forename surname
19        20    vettel  Sebastian  Vettel

Exporting the dataframe to a CSV file

In [15]:
project.save_data(data=df_sub_data2.to_csv(index=False),file_name='MUST_WIN_CHAMPIONSHIP_DB.csv',overwrite=True)

{'file_name': 'MUST_WIN_CHAMPIONSHIP_DB.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'f1project-donotdelete-pr-k1g9ydjrtxlhpr',
 'asset_id': 'fe77cf0b-a6b8-472f-9a65-c2925c140d4b'}

In [16]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     |████████████████████████████████| 6.0 MB 21.1 MB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp38-cp38-linux_x86_64.whl size=1209508 sha256=fc309b2d15500c9ade8438e5526f7949faef13a2c9d137e49c2261de3288e8d9
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/cb/43/46/fa638f2422554332b7865d600275b24568bf60e76104a94bb4
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.22
    Uninstalling SQLAlchemy-1.4.22:
      Successfully uninstalled SQLAlchemy-1.4.22
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ibm_db_sa) (1.3.9)
Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (7.27.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: six in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 2.1 MB/s  eta 0:00:01
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.9)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20211006)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13700 sha256=898b2756dc7e2214214984453d62dcd67118784dd56163c30d61a046e71550af
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/48/6d/77/9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

In [17]:
%load_ext sql

In [ ]:
%sql ibm_db_sa://wsk88371:BKnfJ7eoxGXJ9D1m@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb